<th:block th:unless="${session.isEmpty()}">
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
            <tbody>
            <tr>
                <td>
                    <div class="table-center">
                        <div class="page-header">
                            <h1><img align="center" src="#" height="45px" width="45px"
                                     th:src="@{${'/pics/house.png'}}">Dog Houses List</h1>
                        </div>
                        <a class="nav-link h5" th:href="@{/view/add/cellAdd}">
                            <button type="button" class="btn btn-danger btn-lg btnTable"><span
                                    class="glyphicon glyphicon-ok"></span>Add House
                            </button>
                        </a>

                        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:300px"
                               class=tableHome>
                            <tbody>

                            <tr>
                                <label th:each="c : ${cellsRepair}">

                                    <label><img height="30px" width="30px" th:src="@{${'/pics/repair.png'}}"
                                                th:text="${' '+c.code}"></label></label>
                            </tr>
                            </tbody>
                        </table>


                        <p th:if="${isUsed}" class="errors alert alert-danger">
                            Cell is used!
                        </p>
                        <table class=table>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Size</th>
                                <th>Status</th>
                                <th>Author</th>
                                <th>Created</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr th:each="c : ${cells}">
                                <td class="h6"><a th:text="${c.id}" th:href="@{cell/edit/{id}(id=*{c.id})}"></td>

                                <td class="h6" style="font-weight: bold" th:text="${c.code}"></td>
                                <td>
                                    <img th:if="${c.cellSize.name()=='SMALL'}" src="#" height="14px" width="14px"
                                         th:src="@{${'/pics/house.png'}}" th:text="'  '+  SMALL">
                                    <img th:if="${c.cellSize.name()=='MEDIUM'}" src="#" height="18px" width="18px"
                                         th:src="@{${'/pics/house.png'}}" th:text="'  '+ MEDIUM">
                                    <img th:if="${c.cellSize.name()=='LARGE'}" src="#" height="22px" width="22px"
                                         th:src="@{${'/pics/house.png'}}" th:text="'  '+ LARGE">
                                </td>
                                <td>
                                    <span th:if="${c.status.name()=='empty'}" class="badge badge-success">EMPTY</span>
                                    <span th:if="${c.status.name()=='busy'}" class="badge badge-danger">BUSY</span>
                                    <span th:if="${c.status.name()=='under_repair'}"
                                          class="badge badge-warning">REPAIR</span>

                                </td>
                                <td th:text="${c.author.username}"></td>
                                <td th:text="${#temporals.format(c.dateCreate,'dd.MM.yyyy')}"></td>
                                <td><a class="nav-link h5" th:href="@{cell/edit/{id}(id=*{c.id})}">
                                    <button type="button" class="btn btn-danger btn-lg btnTable"><span
                                            class="glyphicon glyphicon-ok"></span>Edit
                                    </button>
                                </a></td>

                                <td><a class="nav-link h5" th:href="@{cell/remove/{id}(id=*{c.id})}">
                                    <button type="button" class="btn btn-danger btn-lg btnTable"><span
                                            class="glyphicon glyphicon-ok"></span>Remove
                                    </button>
                                </a></td>
                            </tr>
                        </table>
                        <div th:if="${cells.totalPages > 0}" class="pagination"
                             th:each="pageNumber : ${pageNumbers}">
                            <a th:href="@{cellTable(size=${cells.size}, page=${pageNumber})}"
                               th:text=${pageNumber}
                               th:class="${pageNumber==cells.number + 1} ? active"></a>
                        </div>
                    </div>
                </td>
            </tr>


        </table>

    </th:block>
</th:block>