<th:block th:unless="${session.isEmpty()}">
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="button_back">
            <a class="nav-link h5" th:href="@{/view/table/dogTable}">
                <button type="button" class="btn btn-danger btn-lg btnTable"><span
                        class="glyphicon glyphicon-ok"></span>Back
                </button>
            </a>
        </div>
        <div class="container">
            <h1 class="page_title" th:object="${dog}">Dog Details</h1>
            <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 620px;">
                <tbody>

                    <td><h3 th:text="${dog.name}"></h3><br></td>
                </tr>
                </tbody>
            </table>
            <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:700px">
                <tbody>
                <tr>
                    <td>
                        <img src="#" id="thumbnail" height="270px" width="405px"
                             th:src="@{${'/image/' + dog.imageName}}" alt="image" />
                        <input type="hidden" name="imgName"  th:value="${dog.imageName}"><br></td>
                    <td>
                        <label
                        th:text="${'BirthDate: '+ #temporals.format(dog.birthDate,'dd.MM.yyyy') }"></label><br>
                        <label
                                th:text="${'Current Age: '+ dog.years}"></label><br>
                        <label
                                th:text="${'Last Deworming Date: ' +#temporals.format(dog.lastDewormingDate,'dd.MM.yyyy')}"></label><br>
                        <label
                                th:text="${'Weight: '+ dog.weight}"></label><br>
                        <label
                                th:text="${'Breed: '+ dog.breed.breedName}"></label><br>
                        <label
                                th:text="${'Sex: '+ dog.sex}"></label><br>
                        <label
                                th:text="${'Passport: '+ dog.passport}"></label><br>
                        <label
                                th:text="${'Microchip: '+ dog.microchip + ' - '+ dog.microchipNumber}"></label><br>
                        <label
                                th:text="${'Behavior: '+ dog.behavior.name}"></label><br>
                    </td>

                </tr>

                </tbody>
            </table>
            <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 700px;">
                <tbody>
                <tr>
                <td>
                <label
                        th:text="${'Client: '+ dog.client.firstName+' '+dog.client.lastName}"></label><br>
                <label
                        th:text="${'City: '+dog.client.city.name}"></label><br>
                <label
                        th:text="${'Email: '+dog.client.email}"></label><br>
                <label
                        th:text="${'Phone: '+dog.client.phone}"></label><br>
               </td>
                </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

        </div>

    </th:block>
</th:block>
