<th:block th:if="${session.user}">
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
            <tbody>
            <tr>
                <td>
                    <div class="table-center">
                        <div class="page-header">
                            <h1><img align="center" src="#" height="45px" width="45px"
                                     th:src="@{${'/pics/prices.png'}}">Prices List and Discounts</h1>
                        </div>

                        <div class="table-responsive-price">
                            <table class=table>
                                <tr>
                                    <th>No</th>
                                    <th>Stay House S</th>
                                    <th>Stay House M</th>
                                    <th>Stay House L</th>
                                    <th>Feeding</th>
                                    <th>Deworming</th>
                                    <th>Training</th>
                                    <th>Bathing</th>
                                    <th>Combing</th>
                                    <th>Paws cleaning</th>
                                    <th>Еar cleaning</th>
                                    <th>Nails trimming</th>
                                    <th>Discount Regular Client</th>
                                    <th>Discount VIP Client</th>
                                    <th>Created</th>

                                </tr>
                                <tr id="prices" th:each="p : ${prices}">
                                    <td th:text="${p.id}"></td>
                                    <td th:text="${p.priceStayS+'$'}"></td>
                                    <td th:text="${p.priceStayM+'$'}"></td>
                                    <td th:text="${p.priceStayL+'$'}"></td>
                                    <td th:text="${p.priceFood+'$'}"></td>
                                    <td th:text="${p.priceDeworming+'$'}"></td>
                                    <td th:text="${p.priceTraining+'$'}"></td>
                                    <td th:text="${p.priceBathing+'$'}"></td>
                                    <td th:text="${p.priceCombing+'$'}"></td>
                                    <td th:text="${p.pricePaws+'$'}"></td>
                                    <td th:text="${p.priceEars+'$'}"></td>
                                    <td th:text="${p.priceNails+'$'}"></td>
                                    <td th:text="${p.discountClientRegular+'%'}"></td>
                                    <td th:text="${p.discountClientVip+'%'}"></td>
                                    <td th:text="${#temporals.format(p.dateCreate,'dd.MM.yyyy')}"></td>

                                </tr>
                            </table>
                        </div>
                        <div th:if="${prices.totalPages > 0}" class="pagination"
                             th:each="pageNumber : ${pageNumbers}">
                            <a th:href="@{priceTable(size=${prices.size}, page=${pageNumber})}"
                               th:text=${pageNumber}
                               th:class="${pageNumber==prices.number + 1} ? active"></a>
                        </div>
                    </div>
                </td>
            </tr>


        </table>
        <script>
            window.onload = function() {

                let pricesRows = Array.from(document.querySelectorAll('#prices'));
                pricesRows[0].style.fontSize = "14px";
                pricesRows[0].style.fontWeight = "bold";

            }
        </script>
    </th:block>
</th:block>