<th:block th:unless="${session.isEmpty()}">
    <script>
        $(document).ready(function() {
            $('#nav-link').click(function(e){
                e.preventDefault();
                window.history.back();
            });
        });
    </script>
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
            <tbody>
            <tr>
                <td><div class="button_back">
                    <a class="nav-link h5" id="nav-link">
                        <button type="button" class="btn btn-danger btn-lg btnTable"><span
                                class="glyphicon glyphicon-ok"></span>Back
                        </button>
                    </a>
                </div></td>
            </tr>
            <tr>
                <td><div >
                    <h1 class="page_title" th:object="${reservation}"></h1>
                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: auto;">

                        <tbody>
                        <tr>
                            <td><h5 th:text="${'Reservation No.'+ reservation.id }"></h5></td>

                        </tr>
                        </tbody>
                    </table>


                    <table  align="center" border="0" cellpadding="1" cellspacing="1" style="width: 450px; font-size: 14px;">
                        <tr>
                            <td><label th:text="${'Status: ' + reservation.statusReservation}"></label></label><br>
                            </td>
                            <td><label th:text="${'Date Create: '+ reservation.dateCreate}"></label><br></td>
                        </tr>
                        <tbody>
                        <tr>
                            <td><label
                                    th:text="${'Client: '+ reservation.client.firstName + ' ' + reservation.client.lastName}"></label><br>
                            </td>
                            <td><label th:text="${'Dog: '+ reservation.dog.name }"></label><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${'      '+'City: '+ reservation.client.city.name}"></label><br></td>
                            <td><label th:text="${'Weight: '+ reservation.dog.weight }"></label><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${'      '+'Email: '+ reservation.client.email}"></label><br></td>
                            <td><label th:text="${'Breed: '+ reservation.dog.breed.breedName }"></label><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${'      '+'Phone: '+ reservation.client.phone}"></label><br></td>
                            <td><label th:text="${'Behavior: '+ reservation.dog.behavior.name }"></label><br></td>
                        </tr>
                        </tbody>
                    </table><br>



                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: auto; ">
                        <tbody>
                        <tr>
                            <td><h5>Hotel Accommodation:</h5></td>

                        </tr>
                        </tbody>
                    </table>

                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 450px;font-size: 14px;">
                        <tbody>
                        <tr>
                            <td><label th:text="${'Day of coming: '+ reservation.startDate }"></label><br></td>
                            <td><label th:text="${'Day of departure: '+ reservation.endDate }"></label><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${'Stay Day: '+ reservation.countOvernightStay }"></label><br></td>
                            <td><label th:text="${'Dog House: '+ reservation.cell.code }"></label><br></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: auto;">
                        <tbody>
                        <tr>
                            <td><h5>Services:</h5></td>
                        </tr>
                        </tbody>
                    </table>

                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 450px;font-size: 14px;">

                        <tbody>
                        <tr>
                            <td><label th:text="${'Feeding: '+ reservation.food }"></label><br></td>
                            <td><label th:text="${'Training: '+ reservation.training }"></label><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${'Deworming: '+ reservation.deworming }"></label><br></td>
                            <td><label th:text="${'Combing: '+ reservation.combing }"></label><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${'Еar cleaning: '+ reservation.ears }"></label><br></td>
                            <td><label th:text="${'Paws cleaning: '+ reservation.paws }"></label><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${'Nails trimming: '+ reservation.nails }"></label><br></td>
                            <td><label th:text="${'Bathing: '+ reservation.bathing }"></label><br></td>
                        </tr>

                        </tbody>
                    </table>

                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: auto;">

                        <tbody>
                        <tr>
                            <td><h5>Prices:</h5></td>

                        </tr>
                        </tbody>
                    </table>

                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="font-size: 14px;width: 450px;">
                        <tbody>
                        <tr>
                            <td><label th:text="${'Price: '+ reservation.price+'$' }"></label><br></td>
                            <td><label th:text="${'Discount: '+ reservation.discount +'%' }"></label><br></td>
                            <td><label th:text="${'Total Price: '+ reservation.totalPrice+'$' }"></label></td>
                        </tr>
                        </tbody>
                    </table>
                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 150px;">

                        <tbody>
                        <tr>
                            <td><label th:text="${'Author: '+ reservation.author.username}"></label><br></td>

                        </tr>
                        </tbody>
                    </table>

                </div></td>
            </tr>

        </table>



    </th:block>
</th:block>
