<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="button_back">
    <a class="nav-link h5" th:href="@{/view/table/breedTable}">
        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                class="glyphicon glyphicon-ok"></span>Back
        </button>
    </a>
    </div>
    <div class="container">
        <h2 class="page_title">Edit Breed</h2>

        <form class="form_add" th:action="@{{id}/edit(id=*{id})}"
              th:method="post">
            <div class="form-group">
                <textarea
                        id="description"
                        th:field="${breedDTO.breedName}"
                        type="textarea"
                        placeholder="Please enter behavior">
            </textarea>
                <p class="invalid-feedback errors alert alert-danger">
                    Behavior is required.
                </p>
            </div>
            <div class="button_submit">
                <div >
                    <div>
                        <input  type="submit" class="btn btn-danger btn-lg btn3d" value="Edit Breed"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>

<!--<a class="btn btn-danger btn-lg btn3d" th:href="@{/behavior/{id}/edit(id=*{id})}">
    Submit Behavior
</a>-->