<th:block th:unless="${session.isEmpty()}">
    <script>
        $(document).ready(function () {
            $('#nav-link').click(function (e) {
                e.preventDefault();
                window.history.back();
            });
        });
    </script>
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">

        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
            <tbody>
            <tr>
                <td>
                    <div class="button_back">
                        <a class="nav-link h5" id="nav-link">
                            <button type="button" class="btn btn-danger btn-lg btnList"><span
                                    class="glyphicon glyphicon-ok"></span>Back
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="container">
                        <h2 class="page_title">Edit Dog House</h2>

                        <form class="form_add"
                              th:object="${cellEditDTO}"
                              th:action="@{/view/table/cell/edit/{id}(id=*{id})}"
                              th:method="post">
                            <div class="login-box">

                                <label style="font-weight: bold">House name</label>
                                <input class="form-control form-control-sm" style="width: 120px;" type="text"
                                       th:field="${cellEditDTO.code}" name="code"
                                       id="code"/>

                                <small th:if="${#fields.hasErrors('code')}"
                                       th:errors="*{code}"
                                       class="text-light form-text bg-danger "></small>
                                <label style="font-weight: bold">Size</label>

                                <select class="form-control form-control-sm" style="width: 120px;"
                                        th:field="${cellEditDTO.cellSize}">
                                    <option value="">please select</option>
                                    <option value="SMALL">SMALL</option>
                                    <option value="MEDIUM">MEDIUM</option>
                                    <option value="LARGE">LARGE</option>
                                </select>
                                <small th:if="${#fields.hasErrors('cellSize')}"
                                       th:errors="*{cellSize}"
                                       class="text-light form-text bg-danger "></small>

                                <label style="font-weight: bold">Status</label><br>
                                <select class="form-control form-control-sm" style="width: 120px;" required
                                        th:field="${cellEditDTO.status}">
                                    <option value="SMALL">please select</option>
                                    <option value="empty">empty</option>
                                    <option value="busy">busy</option>
                                    <option value="under_repair">under repair</option>
                                </select>
                                <small th:if="${#fields.hasErrors('status')}"
                                       th:errors="*{status}"
                                       class="text-light form-text bg-danger "></small>
                            </div>
                            <br>
                            <div class="button_submit">
                                <div>
                                    <div>
                                        <input type="submit" class="btn btn-danger btn-lg btnList"
                                               value="Edit Dog House"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>

        </table>


    </th:block>
</th:block>
<!--<a class="btn btn-danger btn-lg btn3d" th:href="@{/behavior/{id}/edit(id=*{id})}">
    Submit Behavior
</a>-->