<th:block th:unless="${session.isEmpty()}">
    <script>
        $(document).ready(function() {
            $('#nav-link').click(function(e){
                e.preventDefault();
                window.history.back();
            });
        });
    </script>
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">

        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
            <tbody>
            <tr>
                <td><div class="button_back">
                    <a class="nav-link h5" id="nav-link">
                        <button type="button" class="btn btn-danger btn-lg btnTable"><span
                                class="glyphicon glyphicon-ok"></span>Back
                        </button>
                    </a>
                </div></td>
            </tr>
            <tr>
                <td><div class="container">
                    <h2 class="page_title">Edit Dog House</h2>

                    <form class="form_add" th:action="@{{id}/edit(id=*{id})}"
                          th:method="post">
                        <div class="form-group">

                <textarea rows="1"
                          th:field="${cellDto.code}">
            </textarea>
                            <p></p>
                            <select th:field="${cellDto.cellSize}">
                                <option value="SMALL">SMALL</option>
                                <option value="MEDIUM">MEDIUM</option>
                                <option value="LARGE">LARGE</option>
                            </select>
                            <p class="invalid-feedback errors alert alert-danger">
                                Behavior is required.
                            </p>
                            <p></p>
                            <select required th:field="${cellDto.status}">
                                <option value="empty">empty</option>
                                <option value="busy">busy</option>
                            </select>
                            <p class="invalid-feedback errors alert alert-danger">
                                Behavior is required.
                            </p>
                        </div>
                        <div class="button_submit">
                            <div>
                                <div>
                                    <input type="submit" class="btn btn-danger btn-lg btnTable" value="Edit Dog House"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div></td>
            </tr>

        </table>



    </th:block>
</th:block>
<!--<a class="btn btn-danger btn-lg btn3d" th:href="@{/behavior/{id}/edit(id=*{id})}">
    Submit Behavior
</a>-->