<th:block th:if="${session.admin}">
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="button_back">
            <a class="nav-link h5" th:href="@{/view/MyCompany}">
                <button type="button" class="btn btn-danger btn-lg btnTable"><span
                        class="glyphicon glyphicon-ok"></span>Back
                </button>
            </a>
        </div>
        <div class="container">
            <h2 class="page_title">Edit MyCompany</h2>

            <form class="form_add" th:action="@{{id}/edit(id=*{id})}"
                  th:method="post">
                <div class="form-group">
                    <label>Company Name:</label><br>
                    <input type="text" id="description" th:field="${companyDTO.name}" placeholder="Please enter Company Name"/><br>
                    <label>Country:</label><br>
                    <input type="text" id="description1" th:field="${companyDTO.country}" placeholder="Please enter Country"/><br>
                    <label>City:</label><br>
                    <select th:field="*{city.id}" >
                        <option value="">Please select</option>
                        <option
                                th:each="b : ${allCity}"
                                th:value="${b.id}"
                                th:text="${b.name}"></option>

                    </select>

                    <label>Address:</label><br>
                    <input type="text" id="description2" th:field="${companyDTO.address}" placeholder="Please enter Address"/><br>
                    <label>Vat Number:</label><br>
                    <input type="text" id="description3" th:field="${companyDTO.vatNumber}" placeholder="Please enter Vat Number"/><br>
                    <label>Email:</label><br>
                    <input type="text" id="description4" th:field="${companyDTO.email}" placeholder="Please enter Email"/><br>
                    <label>Bank Account:</label><br>
                    <input type="text" id="description5" th:field="${companyDTO.bankAccount}" placeholder="Please enter Bank Account"/><br>
                    <label>Manager Name:</label><br>
                    <input type="text" id="description6" th:field="${companyDTO.managerName}" placeholder="Please enter Manager Name"/><br>


                </div>
                <div class="button_submit">
                    <div>
                        <div>
                            <input type="submit" class="btn btn-danger btn-lg btnTable" value="Save"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </th:block>
</th:block>