<th:block th:unless="${session.isEmpty()}">
    <script>
        $(document).ready(function () {
            $('#nav-link').click(function (e) {
                e.preventDefault();
                window.history.back();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('select').selectize({
                sortField: 'text'
            });
        });
    </script>
    <script src="/js/selectize.min.js"></script>
    <link rel="stylesheet" href="/css/selectize.bootstrap3.min.css"/>
    <link href="/css/dp-light.css" rel="stylesheet">
    <script defer src="/js/datepicker.js"></script>
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
            <tbody>
            <tr>
                <td>
                    <div class="button_back">
                        <a class="nav-link h5" id="nav-link">
                            <button type="button" class="btn btn-danger btn-lg btnList"><span
                                    class="glyphicon glyphicon-ok"></span>Back
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="container">
                    <h2 class="page_title">Edit Cost</h2>
                    <form class="form_add" th:action="@{/view/table/cost/edit/{id}(id=*{id})}"
                          th:method="post"
                          th:object="${costEditDTO}">

                        <div class="login-box">

                            <label>Vendor:</label><br>
                            <select required th:field="*{vendor.id}">
                                <option value="">Please select</option>
                                <option
                                        th:each="b : ${allVendor}"
                                        th:value="${b.id}"
                                        th:text="${b.name}"></option>

                            </select><br>

                            <label>Description:</label><br>
                            <input type="text" id="description" th:field="*{description}"
                                   placeholder="Please enter Description"
                            />
                            <small th:if="${#fields.hasErrors('description')}"
                                   th:errors="*{description}"
                                   class="text-light form-text bg-danger "></small><br>
                            <label>Invoice No:</label><br>
                            <input type="text" id="invoiceNo" th:field="*{invoiceNo}"
                                   placeholder="Please enter Invoice No"
                            />
                            <small th:if="${#fields.hasErrors('invoiceNo')}"
                                   th:errors="*{invoiceNo}"
                                   class="text-light form-text bg-danger "></small><br>
                            <label>Amount:</label><br>
                            <input type="text" id="amount" th:field="*{amount}"
                                   placeholder="Please enter Amount"
                            />
                            <small th:if="${#fields.hasErrors('amount')}"
                                   th:errors="*{amount}"
                                   class="text-light form-text bg-danger "></small><br>


                            <label>Date Cost:</label><br>
                            <div>
                                <input  type="text" id="dateCost" th:field="*{dateCost}"
                                        placeholder="Please enter Date"/>
                                <small th:if="${#fields.hasErrors('dateCost')}"
                                       th:errors="*{dateCost}"
                                       class="text-light form-text bg-danger "></small>
                            </div>
                        </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <div class="button_submit">
                        <div>
                            <div>
                                <input type="submit" class="btn btn-danger btn-lg btnList" value="Edit Cost"/>
                            </div>
                        </div>
                    </div>
                    </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <script>
            window.addEventListener("load", () => {
                picker.attach({target: "dateCost"});
            });
        </script>
    </th:block>
</th:block>