<th:block th:unless="${session.isEmpty()}">
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="button_back">
            <a class="nav-link h5" th:href="@{/view/table/reservationTable}">
                <button type="button" class="btn btn-danger btn-lg btnTable"><span
                        class="glyphicon glyphicon-ok"></span>Back
                </button>
            </a>
        </div>
        <div class="container">
            <h2 class="page_title">Edit Reservation</h2>

            <form class="form_add"  th:action="@{{id}/edit(id=*{id})}"
                  th:method="post"
                  th:object="${reservationDTO}"

            >
                <div class="form-group">
                    <label class="text-white font-weight-bold"></label>
                    <label>Client:</label><br>
                    <select id="showClient" name="showClient" th:field="*{client.id}" oninput="getClientDogs()">

                        <option value="">Please select</option>
                        <option
                                th:each="showClient : ${allClients}"
                                th:value="${showClient.id}"
                                th:text="${showClient.email}"
                        ></option>
                    </select><br>

                    <label>Dogs:</label><br>
                    <select id="dogsBox" th:field="*{dog.id}">
                    </select><br>
                    <label>Date of Arrival:</label><br>
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input"
                               data-target="#datetimepicker1"
                               th:field="*{startDate}" id="date" placeholder="Date"/>
                        <div class="input-group-append" data-target="#datetimepicker1"
                             data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                        </div>
                    </div>
                    <label>Date of Departure:</label><br>
                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input"
                               data-target="#datetimepicker2"
                               th:field="*{endDate}" id="date2" placeholder="Date"/>
                        <div class="input-group-append" data-target="#datetimepicker2"
                             data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                        </div>
                    </div>
                    <label>Dog House:</label><br>
                    <select th:field="*{cell}">
                        <option value="">Please select</option>
                        <option
                                th:each="c : ${allEmptyCells}"
                                th:value="${c.id}"
                                th:text="${c.code}"></option>

                    </select><br><br>
                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 700px;">
                        <tbody>
                        <tr>
                            <td><label th:text="${'Feeding: price for One Day '+ price.getPriceFood()+'$'}"></label><br>
                                <select th:field="*{food}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select><br></td>
                            <td><label th:text="${'Training: price '+ price.getPriceTraining()+'$'}"></label><br>
                                <select th:field="*{training}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${'Bathing: price '+ price.getPriceBathing()+'$'}"></label><br>
                                <select th:field="*{bathing}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select><br></td>
                            <td><label th:text="${'Combing: price '+ price.getPriceCombing()+'$'}"></label><br>
                                <select th:field="*{combing}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${'Еar cleaning: price '+ price.getPriceEars()+'$'}"></label><br>
                                <select th:field="*{ears}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select><br></td>
                            <td><label th:text="${'Paws cleaning: price '+ price.getPricePaws()+'$'}"></label><br>
                                <select th:field="*{paws}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${'Nails trimming: price '+ price.getPriceNails()+'$'}"></label><br>
                                <select th:field="*{nails}"><br>
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select><br></td>
                            <td><label>Discount %</label><br>
                                <input type="text" id="description22" th:field="*{discount}"
                                       placeholder="Please enter Discount percent"/><br></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="button_submit">
                    <div>
                        <div>
                            <input type="submit" class="btn btn-danger btn-lg btnTable " value="Edit Reservation"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <script th:src="@{/assets/moment/moment.min.js}"></script>
        <script th:src="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>
        <script>
            $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
                icons: {
                    time: 'far fa-clock',
                    date: 'far fa-calendar',
                    up: 'fas fa-arrow-up',
                    down: 'fas fa-arrow-down',
                    previous: 'fas fa-chevron-left',
                    next: 'fas fa-chevron-right',
                    today: 'far fa-calendar-check-o',
                    clear: 'far fa-trash',
                    close: 'far fa-times'
                }
            });

            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY'
            });

        </script>
        <script>
            $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
                icons: {
                    time: 'far fa-clock',
                    date: 'far fa-calendar',
                    up: 'fas fa-arrow-up',
                    down: 'fas fa-arrow-down',
                    previous: 'fas fa-chevron-left',
                    next: 'fas fa-chevron-right',
                    today: 'far fa-calendar-check-o',
                    clear: 'far fa-trash',
                    close: 'far fa-times'
                } });

            $('#datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        </script>
        <script th:inline="javascript">
            /*<![CDATA[*/

            var clientList = /*[[${allClients}]]*/ 'test';
            /*]]>*/
        </script>
        <script>

            function getClientDogs() {
                const clientId = Number(document.getElementById('showClient').value);
                let length = clientList.length
                for (let i = 0; i < length; i++) {
                    if (clientList[i].id === clientId) {
                        $('#dogsBox option').remove();
                        const dogs = clientList[i].dogs;
                        for (let n = 0; n < dogs.length; n++) {
                            $('#dogsBox').append($('<option>', {
                                value: dogs[n].id,
                                text: dogs[n].name
                            }));
                        }
                        $("#dogsBox").trigger("chosen:updated");
                    }
                }
            }
        </script>
    </th:block>
</th:block>
