<th:block th:unless="${session.isEmpty()}">
    <script>
        $(document).ready(function () {
            $('#nav-link').click(function (e) {
                e.preventDefault();
                window.history.back();
            });
        });
    </script>
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <link href="/css/dp-light.css" rel="stylesheet">
        <script defer src="/js/datepicker.js"></script>
        <br>
        <div class="button_back">
            <a class="nav-link h5" id="nav-link">
                <button type="button" class="btn btn-danger btn-lg btnList"><span
                        class="glyphicon glyphicon-ok"></span>Back
                </button>
            </a>
        </div>
        <div class="container">
            <h2 class="page_title">Edit Reservation</h2>

            <form class="form_add" th:action="@{{id}/edit(id=*{id})}"
                  th:method="post"
                  th:object="${reservationDTO}">

                <div class="login-box">
                    <label class="text-white font-weight-bold"></label>

                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
                        <tbody>
                        <tr>
                            <td><label style="font-weight: bold"><img align="center" src="#" height="20px" width="20px"
                                                                      th:src="@{${'/pics/client.png'}}"> Client:</label>
                                <select class="form-control form-control-sm" style="width:330px" required
                                        id="showClient" name="showClient" th:field="*{client.id}"
                                        oninput="getClientDogs()">

                                    <option value="">Please select</option>
                                    <option
                                            th:each="showClient : ${allClients}"
                                            th:value="${showClient.id}"
                                            th:text="${showClient.firstName+' '+showClient.lastName+' - '+showClient.phone+' Type: '+showClient.clientType}"
                                    ></option>
                                </select></td>
                        </tr>
                        <tr>
                            <td><label style="font-weight: bold"><img align="center" src="#" height="20px" width="20px"
                                                                      th:src="@{${'/pics/dog.png'}}"> Dog:</label>
                                <select class="form-control form-control-sm" style="width:330px" id="dogsBox"
                                        th:field="*{dog.id}" onclick="getCells()">
                                    <option
                                            th:each="d : *{dog}"
                                            th:value="${d.id}"
                                            th:text="${d.name +' - weight: ' + d.weight +',' + '  dewormer: '+ d.lastDewormingDate }"
                                    ></option>
                                </select></td>
                        </tr>
                        <tr>
                            <td>
                                <label style="font-weight: bold"><img align="center" src="#" height="20px" width="20px"
                                                                      th:src="@{${'/pics/calendar.png'}}"> Date of
                                    Arrival:</label>
                                <div>
                                    <input class="form-control form-control-sm" required type="text" id="input1"
                                           th:field="*{startDate}" placeholder="Date of Arrival"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label style="font-weight: bold"><img align="center" src="#" height="20px" width="20px"
                                                                      th:src="@{${'/pics/calendar.png'}}"> Date of
                                Departure:</label>
                                <div>
                                    <input class="form-control form-control-sm" required type="text" id="input2"
                                           th:field="*{endDate}" placeholder="Date of Departure"/>
                                </div>
                            </td>
                            </td>
                        </tr>

                        <tr>
                            <td><label style="font-weight: bold"><img align="center" src="#" height="20px" width="20px"
                                                                      th:src="@{${'/pics/house.png'}}"> Dog
                                House:</label>
                                <select class="form-control form-control-sm" required id="cellsBox" th:field="*{cell}">
                                    <option value="">Please select</option>
                                    <option
                                            th:each="cellsBox : ${allEmptyCells}"
                                            th:value="${cellsBox.id}"
                                            th:text="${cellsBox.code + ' ' + cellsBox.cellSize + ' House'}"></option>

                                </select></td>
                        </tr>
                        </tbody>
                    </table>

                    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: auto">
                        <tbody>
                        <tr>
                            <td><label style="font-weight: bold"
                                       th:text="${'Feeding: '+ price.getPriceFood()+'$'}"></label>
                                <select class="form-control form-control-sm" th:field="*{food}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select></td>
                            <td><label style="font-weight: bold"
                                       th:text="${'Deworming: '+ price.getPriceDeworming()+'$'}"></label>
                                <select class="form-control form-control-sm" th:field="*{deworming}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select></td>

                        </tr>
                        <tr>
                            <td><label style="font-weight: bold"
                                       th:text="${'Training: '+ price.getPriceTraining()+'$'}"></label>
                                <select class="form-control form-control-sm" th:field="*{training}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select></td>
                            <td><label style="font-weight: bold"
                                       th:text="${'Bathing: '+ price.getPriceBathing()+'$'}"></label>
                                <select class="form-control form-control-sm" th:field="*{bathing}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select></td>

                        </tr>
                        <tr>
                            <td><label style="font-weight: bold"
                                       th:text="${'Еar cleaning: '+ price.getPriceEars()+'$'}"></label>
                                <select class="form-control form-control-sm" th:field="*{ears}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select></td>
                            <td><label style="font-weight: bold"
                                       th:text="${'Paws cleaning: price '+ price.getPricePaws()+'$'}"></label>
                                <select class="form-control form-control-sm" th:field="*{paws}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select></td>
                        </tr>
                        <tr>
                            <td><label style="font-weight: bold"
                                       th:text="${'Nails trimming: '+ price.getPriceNails()+'$'}"></label>
                                <select class="form-control form-control-sm" th:field="*{nails}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select></td>
                            <td><label style="font-weight: bold"
                                       th:text="${'Combing: '+ price.getPriceCombing()+'$'}"></label>
                                <select class="form-control form-control-sm" th:field="*{combing}">
                                    <option value="NO">NO</option>
                                    <option value="YES">YES</option>
                                </select></td>
                        </tr>
                        </tbody>
                    </table>


                    <label style="font-weight: bold"><img align="center" src="#" height="20px" width="20px"
                                                          th:src="@{${'/pics/discount.png'}}"> Discount: max -
                        20%</label><br>
                    <input style="width: 50px; text-align:left;" type="text" id="description22" th:field="*{discount}"
                           placeholder="0"/><br>
                </div>
                <br>
                <div class="button_submit">
                    <div>
                        <div>
                            <input type="submit" class="btn btn-danger btn-lg btnList " value="Edit Reservation"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>

        <script>
            window.addEventListener("load", () => {
                picker.attach({target: "input1"});
            });
        </script>
        <script>
            window.addEventListener("load", () => {
                picker.attach({target: "input2"});
            });
        </script>
        <script th:inline="javascript">
            /*<![CDATA[*/

            var cellList = /*[[${allEmptyCells}]]*/ 'test';
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/

            var dogList = /*[[${allDogs}]]*/ 'test';
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/

            var clientList = /*[[${allClients}]]*/ 'test';
            /*]]>*/
        </script>

        <script>

            function getClientDogs() {
                const clientId = Number(document.getElementById('showClient').value);
                let length = clientList.length
                for (let i = 0; i < length; i++) {
                    if (clientList[i].id === clientId) {
                        $('#dogsBox option').remove();
                        const dogs = clientList[i].dogs;
                        for (let n = 0; n < dogs.length; n++) {
                            $('#dogsBox').append($('<option>', {
                                value: dogs[n].id,
                                text: dogs[n].name + ' - weight: ' + dogs[n].weight + ',' + '  dewormer: ' + dogs[n].lastDewormingDate
                            }));
                        }
                        $("#dogsBox").trigger("chosen:updated");
                    }
                }
            }
        </script>
        <script>
            function getCells() {

                const dogId = Number(document.getElementById('dogsBox').value);
                const clientId = Number(document.getElementById('showClient').value);
                let length = dogList.length
                for (let i = 0; i < length; i++) {
                    let client = clientList[i];
                    if (client.id === clientId) {
                        let dogs = clientList[i].dogs
                        for (let j = 0; j < dogs.length; j++) {
                            if (dogs[j].id == dogId) {
                                let dog = dogs[j];
                                dogSize = dog.dogSize;
                                $('#cellsBox option').remove();
                                if (dogSize === 'SMALL') {
                                    for (let j = 0; j < cellList.length; j++) {
                                        if (cellList[j].cellSize === "SMALL") {
                                            $('#cellsBox').append($('<option>', {
                                                value: cellList[j].id,
                                                text: cellList[j].code + ' ' + cellList[j].cellSize + ' House'
                                            }));
                                        }
                                    }
                                } else if (dogSize === 'MEDIUM') {
                                    for (let j = 0; j < cellList.length; j++) {
                                        if (cellList[j].cellSize === "MEDIUM") {
                                            $('#cellsBox').append($('<option>', {
                                                value: cellList[j].id,
                                                text: cellList[j].code + ' ' + cellList[j].cellSize + ' House'
                                            }));
                                        }
                                    }
                                } else if (dogSize === 'LARGE') {
                                    for (let j = 0; j < cellList.length; j++) {
                                        if (cellList[j].cellSize === "LARGE") {
                                            $('#cellsBox').append($('<option>', {
                                                value: cellList[j].id,
                                                text: cellList[j].code + ' ' + cellList[j].cellSize + ' House'
                                            }));
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        </script>
    </th:block>
</th:block>
