<th:block th:if="${session.admin}">
    <script>
        $(document).ready(function () {
            $('#nav-link').click(function (e) {
                e.preventDefault();
                window.history.back();
            });
        });
    </script>
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:500px">
            <tbody>
            <tr>
                <td>
                    <div class="button_back">
                        <a class="nav-link h5" id="nav-link">
                            <button type="button" class="btn btn-danger btn-lg btnList"><span
                                    class="glyphicon glyphicon-ok"></span>Back
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="container">
                        <h2 th:text="'Edit Type User: ' + ${userDto.username}" class="page_title">Edit Type User </h2>


                        <form class="form_add" th:action="@{{id}/edit(id=*{id})}"
                              th:method="post">
                            <div class="form-group">
                                <select class="form-control form-control-sm" th:field="${userDto.role}">
                                    <option value="">Please select</option>
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div class="button_submit">
                                <div>
                                    <div>
                                        <input type="submit" class="btn btn-danger btn-lg btnList" value="Edit User"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>


    </th:block>
</th:block>
