<th:block th:unless="${session.isEmpty()}">
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <script>
            $(document).ready(function () {
                $('#nav-link').click(function (e) {
                    e.preventDefault();
                    window.history.back();
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $('select').selectize({
                    sortField: 'text'
                });
            });
        </script>
        <script src="/js/selectize.min.js"></script>
        <link rel="stylesheet" href="/css/selectize.bootstrap3.min.css"/>

        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:500px">
            <tbody>
            <tr>
                <td>
                    <div class="button_back">
                        <a class="nav-link h5" id="nav-link">
                            <button type="button" class="btn btn-danger btn-lg btnList"><span
                                    class="glyphicon glyphicon-ok"></span>Back
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="container">
                        <h2 class="page_title">Add Client</h2>
                        <form class="form_add" th:action="@{/view/add/clientAdd}"
                              th:method="post"
                              th:object="${clientDTO}">
                            <div class="login-box">
                                <label style="font-weight: bold">First Name:</label><br>
                                <input type="text" id="firstName"
                                       th:field="*{firstName}"
                                       placeholder="Please enter Name"/>
                                <small th:if="${#fields.hasErrors('firstName')}"
                                       th:errors="*{firstName}"
                                       class="text-light form-text bg-danger "></small>
                                <br>
                                <label style="font-weight: bold">Last Name:</label><br>
                                <input type="text" id="lastName"
                                       th:field="*{lastName}"
                                       placeholder="Please enter Name"/>
                                <small th:if="${#fields.hasErrors('lastName')}"
                                       th:errors="*{lastName}"
                                       class="text-light form-text bg-danger "></small><br>
                                <label style="font-weight: bold">Email:</label><br>
                                <input type="email" id="email"
                                       th:field="*{email}"
                                       placeholder="Please enter Email"/>
                                <small th:if="${#fields.hasErrors('email')}"
                                       th:errors="*{email}"
                                       class="text-light form-text bg-danger "></small><br>
                                <label style="font-weight: bold">Phone:</label><br>
                                <input type="text" id="phone"
                                       th:field="*{phone}" placeholder="Please enter Phone"/>
                                <small th:if="${#fields.hasErrors('phone')}"
                                       th:errors="*{phone}"
                                       class="text-light form-text bg-danger "></small>
                                <br>

                                <label style="font-weight: bold">Address:</label><br>
                                <textarea
                                        th:field="*{address}"
                                        type="textarea"
                                        placeholder="Please enter Address"></textarea>
                                <small th:if="${#fields.hasErrors('address')}"
                                       th:errors="*{address}"
                                       class="text-light form-text bg-danger "></small><br>
                                <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:200px">
                                    <tbody>
                                    <label style="font-weight: bold">City:</label><br>
                                    <select id="cityId"
                                            name="cityId"
                                            th:field="*{cityId}" style="width: 200px">

                                        <option value="">Please select</option>
                                        <option
                                                th:each="b : ${allCity}"
                                                th:value="${b.id}"
                                                th:text="${b.name}"></option>

                                    </select>
                                    <small th:if="${#fields.hasErrors('cityId')}"
                                           th:errors="*{cityId}"
                                           class="text-light form-text bg-danger "></small><br>
                                    <label>
                                        <a th:href="@{/view/add/cityAdd}">+ add city

                                        </a></label>

                                    </tbody>
                                </table>

                            </div>
                            <br>
                            <div class="button_submit">
                                <div>
                                    <div>
                                        <input type="submit" class="btn btn-danger btn-lg btnList"
                                               value="Submit Client"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>


        <script th:src="@{/assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

        <script>
            $('.input-group.date').datepicker({
                autoclose: true,
                todayHighlight: true
            });
        </script>
    </th:block>
</th:block>