<!DOCTYPE html>
<th:block th:unless="${session.isEmpty()}">
<th:block th:fragment xmlns:th="http://www.thymeleaf.org">
    <div class="button_back">
        <a class="nav-link h5" th:href="@{/view/table/dogTable}">
            <button type="button" class="btn btn-danger btn-lg btn3d"><span
                    class="glyphicon glyphicon-ok"></span>Back
            </button>
        </a>
    </div>
    <div class="container">
        <h2 class="page_title">Add Dog</h2>
        <form class="form_add" enctype="multipart/form-data" th:action="@{/view/add/dogAdd}"
              th:method="post"
              th:object="${dogDTO}"

        >
            <div class="form-group">
                <label class="text-white font-weight-bold" ></label>
                <p>Name:</p>
                <textarea
                        th:field="*{name}"
                        type="textarea"
                        placeholder="Please enter Name"
                >
            </textarea>
                <div class="form-group">
                    <label class="file-label" for="fileImage">Add Image</label>
                    <div class="mb-4">
                        <input class="file-input" type="file" id="fileImage" name="fileImage">
                    </div>
                </div>
                <div class="form-group">
                    <img src="#" id="thumbnail" height="100px" width="100px"
                         th:src="@{${'/image/' + dogDTO.imageName}}" alt="image" />
                    <input type="hidden" name="imgName"  th:value="${dogDTO.imageName}">

                </div>

                <div class="form-group">
                    <label for="date">BirthDate:</label>
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                               th:field="*{birthDate}" id="date" placeholder="Date"/>
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>
                <p>Weight:</p>
                <textarea
                        th:field="*{weight}"
                        type="textarea"
                        placeholder="Please enter Weight"
                >
            </textarea>
                <p>Breed:</p>
                <select th:field="*{breed.id}" >
                    <option value="">Please select</option>
                    <option
                            th:each="b : ${allBreeds}"
                            th:value="${b.id}"
                            th:text="${b.breedName}"></option>

                </select>

                <p>Sex:</p>
                <select th:field="*{sex}" >
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select>
                <p>Passport:</p>
                <select th:field="*{passport}" >
                    <option value="NO">NO</option>
                    <option value="YES">YES</option>
                </select>

                <p>Microchip:</p>
                <select th:field="*{microchip}" >
                    <option value="NO">NO</option>
                    <option value="YES">YES</option>
                </select>

                <p>Client:</p>
                <select th:field="*{client.id}" >
                    <option value="">Please select</option>
                    <option
                            th:each="c : ${allClients}"
                            th:value="${c.id}"
                            th:text="${c.email}"></option>

                </select>

                <p>Behavior:</p>
                <select th:field="*{behavior.id}" >
                    <option value="">Please select</option>
                    <option
                            th:each="b : ${allBehaviors}"
                            th:value="${b.id}"
                            th:text="${b.name}"></option>

                </select>

                <p></p>
                <p class="invalid-feedback errors alert alert-danger">
                    Price is required.
                </p>
            </div>


            <div class="button_submit">
                <div >
                    <div>
                        <input type="submit" class="btn btn-danger btn-lg btn3d" value="Submit Dog"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/moment/moment.min.js}"></script>
    <script th:src="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>
    <script>
        $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'far fa-calendar-check-o',
                clear: 'far fa-trash',
                close: 'far fa-times'
            } });

        $('#datetimepicker1').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
    <script>
        /* $(document).ready(function(){

        }); */
        function showImageThumbnail(fileInput){
            if(fileInput.files && fileInput.files[0]){
                var reader = new FileReader();

                reader.onload = function(e){
                    $('thumbnail').attr('src', e.target.result);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
        $('#fileImage').change(function(){
            showImageThumbnail(this);
        });

        $('.file-input').on("change", function(){
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".file-label").addClass("selected").html(fileName);
        });


    </script>
</th:block>
</th:block>