<th:block th:if="${session.admin}">
<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="button_back">
        <a class="nav-link h5" th:href="@{/view/table/priceTable}">
            <button type="button" class="btn btn-danger btn-lg btn3d"><span
                    class="glyphicon glyphicon-ok"></span>Back
            </button>
        </a>
    </div>
    <div class="container">
        <h2 class="page_title">Add Prices</h2>
        <form class="form_add" th:action="@{/view/add/priceAdd}"
              th:method="post"
              th:object="${addPrice}"
        >
            <div class="form-group">
                <label class="text-white font-weight-bold" ></label>
                <p>Price Overnight Stay:</p>
                <textarea
                        th:field="${priceDTO.priceOvernightStay}"
                        type="textarea"
                        placeholder="Please enter price Overnight Stay"
                >
            </textarea>
                <p>Price Food:</p>
                <textarea
                        th:field="${priceDTO.priceFood}"
                        type="textarea"
                        placeholder="Please enter price Food"
                >
            </textarea>
                <p>Price Training:</p>
                <textarea
                        th:field="${priceDTO.priceTraining}"
                        type="textarea"
                        placeholder="Please enter price Training"
                >
            </textarea>
                <p>Price Bathing:</p>
                <textarea
                        th:field="${priceDTO.priceBathing}"
                        type="textarea"
                        placeholder="Please enter price Bathing"
                >
            </textarea>
                <p>Price Combing:</p>
                <textarea
                        th:field="${priceDTO.priceCombing}"
                        type="textarea"
                        placeholder="Please enter price Combing"
                >
            </textarea>
                <p>Price Paws:</p>
                <textarea
                        th:field="${priceDTO.pricePaws}"
                        type="textarea"
                        placeholder="Please enter price Paws"
                >
            </textarea>
                <p>Price Ears:</p>
                <textarea
                        th:field="${priceDTO.priceEars}"
                        type="textarea"
                        placeholder="Please enter price Ears"
                >
            </textarea>
                <p>Price Nails:</p>
                <textarea
                        th:field="${priceDTO.priceNails}"
                        type="textarea"
                        placeholder="Please enter price Nails"
                >
            </textarea>
                <p></p>
                <p class="invalid-feedback errors alert alert-danger">
                    Price is required.
                </p>
            </div>


            <div class="button_submit">
                <div >
                    <div>
                        <input type="submit" class="btn btn-danger btn-lg btn3d" value="Submit Price"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>
</th:block>