<th:block th:if="${session.admin}">
    <script>
        $(document).ready(function () {
            $('#nav-link').click(function (e) {
                e.preventDefault();
                window.history.back();
            });
        });
    </script>
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">

        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
            <tbody>
            <tr>
                <td>
                    <div class="button_back">
                        <a class="nav-link h5" id="nav-link">
                            <button type="button" class="btn btn-danger btn-lg btnList"><span
                                    class="glyphicon glyphicon-ok"></span>Back
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="container">
                        <h2 class="page_title">Add User</h2>
                        <form class="form_add" th:action="@{/view/add/userAdd}"
                              th:method="post"
                              th:object="${userDTO}"
                        >
                            <div class="login-box">
                                <label style="font-weight: bold">UserName:</label><br>
                                <input class="form-control form-control-sm" type="text" id="description"
                                       th:field="${userDTO.username}" placeholder="Please enter Username"/>

                                <p th:if="${existUser}" class="errors alert alert-danger">
                                    User exist!
                                </p>
                                <label style="font-weight: bold">Password:</label><br>
                                <input class="form-control form-control-sm" type="password" id="description1"
                                       th:field="${userDTO.password}" placeholder="Please enter Password"/>

                                <label style="font-weight: bold">Confirm Password:</label><br>
                                <input class="form-control form-control-sm" type="password" id="description2"
                                       th:field="${userDTO.confirmPassword}" placeholder="Confirm Password"/>

                                </p>
                                <p th:if="${wrongRepeatPasswords}" class="errors alert alert-danger">
                                    Passwords don't match!.
                                </p>
                                <label style="font-weight: bold">Select Role:</label><br>
                                <div class="form-group">
                                    <select class="form-control form-control-sm" th:field="${userDTO.role}">
                                        <option value="USER">USER</option>
                                        <option value="ADMIN">ADMIN</option>
                                    </select>
                                </div>
                                <p th:if="${empty}" class="errors alert alert-danger">
                                    Invalid data!
                                </p>
                            </div>
                            <br>
                            <div class="button_submit">
                                <div>
                                    <div>
                                        <input type="submit" class="btn btn-danger btn-lg btnList"
                                               value="Register User"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>


    </th:block>
</th:block>