<th:block th:fragment>

    <nav class="navbar bg-transparent navbar-expand-lg navbar-background">
        <a class="brand pull-left" th:href="@{/}">
            <span class="site-title" title="Dog Hotel Management">Dog Hotel Management</span></a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end row" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active col-md-6 " style="white-space: nowrap;">
                    <a class="nav-link h5" th:href="@{/view/table/reservationTable}">
                        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                                class="glyphicon glyphicon-ok"></span>RESERVATION
                        </button>
                    </a>
                </li>
                <li class="nav-item active col-md-6" style="white-space: nowrap;">
                    <a class="nav-link h5" th:href="@{/view/table/dogTable}">
                        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                                class="glyphicon glyphicon-ok"></span>DOGS
                        </button>
                    </a>
                </li>
                <li class="nav-item active col-md-6" style="white-space: nowrap;">
                    <a class="nav-link h5" th:href="@{/view/table/clientTable}">
                        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                                class="glyphicon glyphicon-ok"></span>CLIENTS
                        </button>
                    </a>
                </li>

                <li class="nav-item active col-md-6" style="white-space: nowrap;">
                    <a class="nav-link h5" th:href="@{/view/table/priceTable}">
                        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                                class="glyphicon glyphicon-ok"></span>PRICES
                        </button>
                    </a>
                </li>
                <li class="nav-item active col-md-6" style="white-space: nowrap;">
                    <a class="nav-link h5" th:href="@{/view/table/cityTable}">
                        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                                class="glyphicon glyphicon-ok"></span>CITIES
                        </button>
                    </a>
                </li>
                <li class="nav-item active col-md-6" style="white-space: nowrap;">
                    <a class="nav-link h5" th:href="@{/view/table/cellTable}">
                        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                                class="glyphicon glyphicon-ok"></span>CELLS
                        </button>
                    </a>
                </li>
                <li class="nav-item active col-md-6" style="white-space: nowrap;">
                    <a class="nav-link h5" th:href="@{/view/table/breedTable}">
                        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                                class="glyphicon glyphicon-ok"></span>BREEDS
                        </button>
                    </a>
                </li>
                <li class="nav-item active col-md-6" style="white-space: nowrap;">
                    <a class="nav-link h5" th:href="@{/view/table/behaviorTable}">
                        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                                class="glyphicon glyphicon-ok"></span>BEHAVIORS
                        </button>
                    </a>
                </li>
                <li class="nav-item active col-md-6" style="white-space: nowrap;">
                    <a class="nav-link h5" th:href="@{/view/table/userTable}">
                        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                                class="glyphicon glyphicon-ok"></span>USERS
                        </button>
                    </a>
                </li>
                <li class="nav-item active col-md-6" style="white-space: nowrap;">
                    <a class="nav-link h5" th:href="@{/logout}">
                        <button type="button" class="btn btn-danger btn-lg btn3d"><span
                                class="glyphicon glyphicon-ok"></span>Logout
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
</th:block>