<th:block th:fragment>
    <body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
        <div class="container">
            <th:block th:unless="${session.isEmpty()}" class="welcome" th:object="${session}">
                <div class="userName"  th:if="*{user}" th:text="*{'user: '+ username}"></div>
                <div class="userName"  th:if="*{admin}" th:text="*{'user: '+ username}"></div>
            </th:block>
            <div class="row align-items-center position-relative">
                <div class="site-logo">
                    <a th:href="@{/view/home}" class="text-black"><span class="site-title">Dog Hotel Management</span></a>
                </div>

                <div class="col-12">
                    <nav class="site-navigation text-right ml-auto " role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <th:block th:unless="${session.isEmpty()}">
                                <li><a th:href="@{/view/home}" class="nav-link">HOME</a></li>
                            </th:block>

                            <th:block th:unless="${session.isEmpty()}">
                            <li class="has-children">
                                <a  class="nav-link">RESERVATION</a>
                                <ul class="dropdown arrow-top">
                                    <li><a th:href="@{/view/table/reservationTable}" class="nav-link">RESERVATION LIST</a></li>
                                    <li><a th:href="@{/view/add/reservationAdd}" class="nav-link">ADD RESERVATION</a></li>

                                </ul>
                            </li>
                            </th:block>

                            <th:block th:unless="${session.isEmpty()}">
                                <li class="has-children">
                                    <a  class="nav-link">INVOICES</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a th:href="@{/view/table/invoiceTable}" class="nav-link">INVOICES LIST</a></li>
                                        <li><a th:href="@{/view/table/invoiceCanceledTable}" class="nav-link">CANCELED INVOICES</a></li>

                                    </ul>
                                </li>
                            </th:block>


                            <th:block th:unless="${session.isEmpty()}">
                                <li class="has-children">
                                    <a  class="nav-link">DOGS</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a th:href="@{/view/table/dogTable}" class="nav-link">DOG LIST</a></li>

                                        <li><a th:href="@{/view/table/cellTable}" class="nav-link">DOG HOUSES</a></li>
                                        <li><a th:href="@{/view/table/breedTable}" class="nav-link">DOG BREEDS LIST</a></li>
                                        <li><a th:href="@{/view/table/behaviorTable}" class="nav-link">DOG BEHAVIORS</a></li>

                                    </ul>
                                </li>
                            </th:block>

                            <th:block th:unless="${session.isEmpty()}">
                                <li class="has-children">
                                    <a  class="nav-link">CLIENTS</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a th:href="@{/view/table/clientTable}" class="nav-link">CLIENTS LIST</a></li>
                                        <li><a th:href="@{/view/table/cityTable}" class="nav-link">CITIES LIST</a></li>

                                    </ul>
                                </li>
                            </th:block>

                            <th:block th:unless="${session.isEmpty()}">
                                <li class="has-children">
                                    <a  class="nav-link">EXPENSES</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a th:href="@{/view/table/costTable}" class="nav-link">COSTS LIST</a></li>
                                        <li><a th:href="@{/view/table/vendorTable}" class="nav-link">VENDORS LIST</a></li>
<!--                                        <li class="has-children">-->
<!--                                            <a href="#">More Links</a>-->
<!--                                            <ul class="dropdown">-->
<!--                                                <li><a href="#">Menu One</a></li>-->
<!--                                                <li><a href="#">Menu Two</a></li>-->
<!--                                                <li><a href="#">Menu Three</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
                                    </ul>
                                </li>
                            </th:block>

                            <th:block th:if="${session.admin}">
                                <li class="has-children">
                                    <a  class="nav-link">ADMIN MENU</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a th:href="@{/view/table/priceTable}" class="nav-link">PRICES LIST</a></li>
                                        <li><a  th:href="@{/view/MyCompany}" class="nav-link">MY COMPANY</a></li>
                                        <li><a  th:href="@{/view/table/userTable}" class="nav-link">USER LIST</a></li>
                                        <li><a  th:href="@{/view/edit/editUserData}" class="nav-link">EDIT MY DATA</a></li>
                                        <li><a  th:href="@{/logout}" class="nav-link">LOGOUT</a></li>

                                    </ul>
                                </li>
                            </th:block>

                            <th:block th:if="${session.user}">
                                <li class="has-children">
                                    <a  class="nav-link">USER MENU</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a th:href="@{/view/table/priceTableUser}" class="nav-link">PRICES LIST</a></li>
                                        <li><a  th:href="@{/view/MyCompanyUser}" class="nav-link">MY COMPANY</a></li>
                                        <li><a  th:href="@{/view/edit/editUserData}" class="nav-link">EDIT MY DATA</a></li>
                                        <li><a  th:href="@{/logout}" class="nav-link">LOGOUT</a></li>

                                    </ul>
                                </li>
                            </th:block>

                            <th:block th:if="${session.isEmpty()}">
                                <li><a th:href="@{/view/login}" class="nav-link">LOGIN</a></li>
                            </th:block>



                        </ul>
                    </nav>

                </div>
                <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

            </div>
        </div>

    </header>
    </body>

</th:block>