.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}
.navbar-expand-lg .navbar-collapse{
    display: block;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 18px;
}

.pagination a.active {
    background-color: #d13535;
    color: white;
    border-radius: 2px;
}
.btnAdmin {
    font-size: 14px;
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 0px;
    margin-right: -35px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #c16b29;

}
.dogsOnClient{
    color: #2430ca;
    line-height: 0.5;
}
.statusReservation{
    color: #5f95f9;
}
.btnTable {
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 11px;
    margin-right: -47px;
    margin-top: -6px;
    color: #ffffff;
    background-color: #f14e5e;
    font-size: 12px;
    line-height: 1;
    border-radius: 1.3000000000000007rem;
}
.welcome{
    text-align: -webkit-center;
    font-size: 20px;
    color: #353838;
}
.input-group{
    width: 20%;
}

.form_add{
    text-align: -webkit-center;
}
.button_back{
    text-align: -webkit-center;
}
.table-center{
    margin: auto;
    width: 70%;
    border: 0px solid #353838;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.button_submit{
    text-align: -webkit-center;
}
.page_title{
    text-align: -webkit-center;
    font-size: 20px;
    color: #353838;
}
.table {
    font-size: 12px;
    display: block;
    max-width: 70%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    color: #353838;
    text-align: center;
    padding: 0.5rem;

}

.footerStyle{
    text-align: -webkit-center;
    font-size: 20px;
    color: #353838;
    background: lightcoral;
}
.site-title {
    text-align: -webkit-center;
    font-size: x-large;
    color: #353838;
}
.navbar-background {
    background-color: #e243ff;
    color: white;
}

header , main, footer {
    justify-content: right;
}

body {
    background: url("/pics/background.jpg") no-repeat center center fixed;
    border-radius: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.my-hr {
    width: 30%;
    background-color: white;
}

.myBackgroundColor {
    background-color: #3f51b5de;
}

.jumbotron-background {
    background: url("/pics/frame.png") no-repeat center transparent;
    border-radius: 50px;
    min-height: 400px;
    background-size: 75% 100%;
    color: #ffffff;
}

.index-jumbo {
    background-color: transparent;
    color: whitesmoke;
}
body > main > div > div > div > div:nth-child(3) > h5, body > main > div > div > div > div:nth-child(1) > h1{
    background-color: transparent;
}

body > header > nav > a > img{
    width: 65px;
}
.hr-background {
    background-color: white;
    height: 1px;
}

.footer-background {
    color: #E41B23;
}

.btn3d {
    font-size: medium;
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 0px;
    margin-right: -35px;
    margin-top: 15px;
    font-size: 14px;
}

.btn3d:focus {
    outline: medium none;
    -moz-outline-style: none;
}

.btn3d:active {
    top: 9px;
}

.btn-default {
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.btn-primary {
    box-shadow: 0 0 0 1px #428bca inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #428bca;
}

.btn-success {
    box-shadow: 0 0 0 1px #4b6c16 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #3b5815, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #4f781a;
}

.btn-info {
    color: #fff;
    background-color: #c16b29;
    border-color: #cbc5c5;
}

.btn-warning {
    box-shadow: 0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #f0ad4e;
}

.btn-danger {

}

.bg-blur {
    /*background-color: rgba(0, 0, 0, 0.8); !* Black w/opacity/see-through *!*/
    background-color: rgba(248, 241, 241, 0.76); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

