/*.form-group {*/
/*    height: 48px;*/
/*    background: rgba(0, 0, 0, 0.05);*/
/*    color: rgba(255, 255, 255, 0.8) !important;*/
/*    font-size: 14px;*/
/*    -webkit-box-shadow: none;*/
/*    box-shadow: none;*/
/*    border-radius: 0;*/
/*    border: none;*/
/*    border-bottom: 1px solid #b689b0;*/
/*    padding-left: 30px;*/
/*    padding-right: 0;*/
/*    letter-spacing: 1px;*/
/*    -webkit-transition: all 0.2s ease-in-out;*/
/*    -o-transition: all 0.2s ease-in-out;*/
/*    transition: all 0.2s ease-in-out;}*/
.searchArea {
    width: 150px;
    font-size: 14px;
    padding: 3px 1px;
    border: 1px solid #acacb1;

}

.selectize-input {
    width: 196px;
}
.userName {
    font-size: 15px;
    color: #0ea5e9;
    text-align: center;
    padding-bottom: 9px;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #fff;
    /*height: 10vh;*/
    position: relative;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible;
}

p {
    color: #0d0c0c;
    font-weight: 300;
}

/*h1, h2, h3, h4, h5, h6,*/
/*.h1, .h2, .h3, .h4, .h5, .h6 {*/
/*  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
/*}*/

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a, a:hover {
    text-decoration: none !important;
    color: #0ea5e9;
}


.top-bar {
    padding: .5rem 0;
    background: #eee;
}

.top-bar a {
    color: #666666;
}

.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: relative;
    width: 100%;
    padding: 0rem;
}

@media (max-width: 991.98px) {
    .site-navbar {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}

.site-navbar .toggle-button {
    position: absolute;
    right: 7px;
}

.site-navbar .site-logo {
    position: absolute;
    font-size: 20px;

    text-transform: uppercase;
    font-weight: 900;
    line-height: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
}

@media (max-width: 991.98px) {
    .site-navbar .site-logo {
        float: left;
        position: relative;
    }
}

.site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white !important;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
    color: #007bff !important;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
    display: inline-block;
}

.site-navbar .site-navigation .site-menu > li > a {
    font-size: 18px;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 15px;
    padding: 5px 0px;
    color: #f14e5e !important;
    display: inline-block;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
    color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
    position: relative;
    padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    border-top: 2px solid #007bff;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    display: none;
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #c53939 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
    color: #007bff !important;
    background: #f8f9fa;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
    padding: 9px 20px;
    display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
    background: #f8f9fa;
    color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
    content: "\e315";
    right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
    background: #f8f9fa;
    color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
    color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}

.site-mobile-menu {
    width: 260px;
    position: absolute;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #ced4da;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
    color: #007bff;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-mobile-menu .site-nav-wrap li .nav-link.active {
    color: #007bff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "icomoon";
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
    padding-left: 20px;
    font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
    display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
    padding-left: 40px;
    font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
    padding: 0;
    margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
    display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
    font-size: 16px;
    padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
    width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
    padding-left: 15px !important;
}

.sticky-wrapper {
    position: relative;
    z-index: 100;
    width: 100%;
}

.sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.sticky-wrapper .site-navbar {
    background: #202124;
}

.sticky-wrapper .site-navbar .site-logo a {
    color: #fff;
}

.sticky-wrapper .site-navbar ul li a {
    color: rgba(255, 255, 255, 0.7) !important;
}

.sticky-wrapper .site-navbar ul li a.active {
    color: #fff !important;
}

.sticky-wrapper.is-sticky .site-navbar {
    /*background: #fff;*/
    background: #202124;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
    color: #f14e5e;
}

.sticky-wrapper.is-sticky .site-navbar ul li a {
    /*color: #000 !important; }*/
    color: #d93d3d !important;
}

.sticky-wrapper.is-sticky .site-navbar ul li a.active {
    color: #007bff !important;
}

.sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

@media (max-width: 991.98px) {
    .sticky-wrapper .shrink {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}


.bg-transparent {
    background: #0e9f6e;
}

.boldPrice {
    font-weight: bold;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 18px;
}

.pagination a.active {
    background-color: #d13535;
    color: white;
    border-radius: 2px;
}

.btnAdmin {
    font-size: 14px;
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 0px;
    margin-right: -35px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #c16b29;

}


.dogsOnClient {
    color: #2430ca;
    line-height: 0.5;
}

.statusReservation {
    color: #5f95f9;
}

.btnTable {
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 11px;
    margin-right: -33px;
    margin-top: -6px;
    color: #ffffff;
    background-color: #f14e5e;
    font-size: 12px;
    line-height: 1;
    border-radius: 1.3000000000000007rem;
}
.btnList {
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 11px;
    margin-right: 0px;
    margin-top: 0px;
    color: #ffffff;
    background-color: #f14e5e;
    font-size: 12px;
    line-height: 1;
    border-radius: 1.3000000000000007rem;
}

.welcome {
    text-align: -webkit-center;
    font-size: 18px;
    color: #249b9b;
}

.input-group {
    width: 180px;
}

.article {
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
}
.form_add {
    text-align: -webkit-center;
}

.button_back {
    text-align: -webkit-center;
}

.table-center {
    /*margin: auto;*/
    width: 90%;
    border: 0px solid #353838;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.modal-body {
    min-height: .01%;
}

@media screen and (max-width: 560px) {
    .modal-body {
        font-size: 13px;
        display: block;
        width:100%;
        max-width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        color: #353838;
        text-align: center;
        padding: 0.5rem;
        white-space: pre-line;
    }
}
.modal-content {
    min-height: .01%;
}

@media screen and (max-width: 560px) {
    .modal-content {
        font-size: 13px;
        display: block;
        width:25%;
        max-width: 100%;
        /*background-color: transparent;*/
        border-collapse: collapse;
        border-spacing: 0;
        color: #353838;
        text-align: center;
        /*padding: 0.5rem;*/
        /*white-space: pre-line;*/
    }
}
@media screen and (max-width: 560px) {
    .table-responsive {
        font-size: 12px;
        /*display: block;*/
        /*width:100%;*/
        max-width: 24%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        color: #353838;
        text-align: center;
        padding: 0.5rem;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow-y: inherit;
    }

    .table-responsive > .table {
        margin-bottom: 0;
    }

    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}



.table-responsive-dog {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 560px) {
    .table-responsive-dog {
        font-size: 12px;
        /*display: block;*/
        /*width:100%;*/
        max-width: 35%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        color: #353838;
        text-align: center;
        padding: 0.5rem;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow-y: inherit;
    }

    .table-responsive-dog > .table {
        margin-bottom: 0;
    }

    .table-responsive-dog > .table > thead > tr > th,
    .table-responsive-dog > .table > tbody > tr > th,
    .table-responsive-dog > .table > tfoot > tr > th,
    .table-responsive-dog > .table > thead > tr > td,
    .table-responsive-dog > .table > tbody > tr > td,
    .table-responsive-dog > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}

.table-responsive-price {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 560px) {
    .table-responsive-price {
        font-size: 12px;
        /*display: block;*/
        /*width:100%;*/
        max-width: 55%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        color: #353838;
        text-align: center;
        padding: 0.5rem;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow-y: inherit;
    }

    .table-responsive-price> .table {
        margin-bottom: 0;
    }

    .table-responsive-price > .table > thead > tr > th,
    .table-responsive-price > .table > tbody > tr > th,
    .table-responsive-price > .table > tfoot > tr > th,
    .table-responsive-price > .table > thead > tr > td,
    .table-responsive-price > .table > tbody > tr > td,
    .table-responsive-price > .table > tfoot > tr > td {
        white-space: pre-line;
    }
}

.table-responsive-invoice {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 560px) {
    .table-responsive-invoice {
        font-size: 12px;
        /*display: block;*/
        /*width:100%;*/
        max-width: 38%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        color: #353838;
        text-align: center;
        padding: 0.5rem;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow-y: inherit;
    }

    .table-responsive-invoice > .table {
        margin-bottom: 0;
    }

    .table-responsive-invoice > .table > thead > tr > th,
    .table-responsive-invoice > .table > tbody > tr > th,
    .table-responsive-invoice > .table > tfoot > tr > th,
    .table-responsive-invoice > .table > thead > tr > td,
    .table-responsive-invoice > .table > tbody > tr > td,
    .table-responsive-invoice > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}

.table-responsive-cost {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 460px) {
    .table-responsive-cost {
        font-size: 12px;
        display: block;
        width:100%;
        max-width: 70%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        color: #353838;
        text-align: center;
        padding: 0.5rem;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow-y: inherit;
    }

    .table-responsive-cost > .table {
        margin-bottom: 0;
    }

    .table-responsive-cost> .table > thead > tr > th,
    .table-responsive-cost > .table > tbody > tr > th,
    .table-responsive-cost > .table > tfoot > tr > th,
    .table-responsive-cost > .table > thead > tr > td,
    .table-responsive-cost > .table > tbody > tr > td,
    .table-responsive-cost > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}


.table-responsive-vendor {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 560px) {
    .table-responsive-vendor {
        font-size: 16px;
        display: block;
        width:100%;
        max-width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        color: #353838;
        text-align: center;
        padding: 0.1rem;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow-y: inherit;
    }

    .table-responsive-vendor > .table {
        margin-bottom: 0px;
    }

    .table-responsive-vendor > .table > thead > tr > th,
    .table-responsive-vendor > .table > tbody > tr > th,
    .table-responsive-vendor > .table > tfoot > tr > th,
    .table-responsive-vendor > .table > thead > tr > td,
    .table-responsive-vendor > .table > tbody > tr > td,
    .table-responsive-vendor > .table > tfoot > tr > td {
        white-space:nowrap;
    }
}



.table-responsive-client {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 600px) {
    .table-responsive-client {
        font-size: 12px;
        /*display: block;*/
        width:50%;
        max-width: 120%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        color: #353838;
        text-align: center;
        padding: 0.5rem;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow-y: inherit;
    }

    .table-responsive-client > .table {
        margin-bottom: 0;
    }

    .table-responsive-client > .table > thead > tr > th,
    .table-responsive-client > .table > tbody > tr > th,
    .table-responsive-client > .table > tfoot > tr > th,
    .table-responsive-client > .table > thead > tr > td,
    .table-responsive-client > .table > tbody > tr > td,
    .table-responsive-client > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}





.button_submit {
    text-align: -webkit-center;
}

.page_title {
    text-align: -webkit-center;
    font-size: 20px;
    color: #c73131;
}

.table {

    font-size: 12px;
    /*display: block;*/
    width: auto;
    max-width: 75%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    color: #353838;
    text-align: center;
    padding: 0.5rem;


}


.table tr:hover {background-color: #fff6cd;}


.table th, .table td {
    padding: 3px;
    vertical-align: unset;
    border-top: 1px solid #dee2e6;
}

/*input,  select, optgroup, textarea {*/
/*    margin: 5px;*/
/*    font-family: inherit;*/
/*    font-size: inherit;*/
/*    line-height: inherit;*/
/*    width: 80%*/
/*}*/
.container {
    width: auto;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

.footerStyle {
    text-align: -webkit-center;
    font-size: 20px;
    color: #353838;
    font-weight: bold;
    background: lightcoral;
}

.site-title {
    text-align: left;
    color: #cbc2c2;
    position: relative;
    background: #202124;
    padding-inline-start: 10px;
}

.navbar-background {
    background-color: #e243ff;
    color: white;
}

header, main, footer {
    justify-content: right;
}

body {
    background: url("/pics/background.jpg") no-repeat center center fixed;
    border-radius: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.my-hr {
    width: 30%;
    background-color: white;
}

.myBackgroundColor {
    background-color: #3f51b5de;
}

.jumbotron-background {
    background: url("/pics/frame.png") no-repeat center transparent;
    border-radius: 50px;
    min-height: 400px;
    background-size: 75% 100%;
    color: #ffffff;
}

.index-jumbo {
    background-color: transparent;
    color: whitesmoke;
}

body > main > div > div > div > div:nth-child(3) > h5, body > main > div > div > div > div:nth-child(1) > h1 {
    background-color: transparent;
}

body > header > nav > a > img {
    width: 65px;
}

.hr-background {
    background-color: white;
    height: 1px;
}

.footer-background {
    color: #E41B23;
}

.btn3d {
    font-size: medium;
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 0px;
    margin-right: -35px;
    margin-top: 15px;
    font-size: 14px;
}

.btn3d:focus {
    outline: medium none;
    -moz-outline-style: none;
}

.btn3d:active {
    top: 9px;
}

.btn-default {
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.btn-primary {
    box-shadow: 0 0 0 1px #428bca inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #428bca;
}

.btn-success {
    box-shadow: 0 0 0 1px #4b6c16 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #3b5815, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #4f781a;
}

.btn-info {
    color: #fff;
    background-color: #c16b29;
    border-color: #cbc5c5;
    font-size: x-small;
}

.btn-warning {
    box-shadow: 0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #f0ad4e;
}

.btn-danger {

}

.bg-blur {
    /*background-color: rgba(0, 0, 0, 0.8); !* Black w/opacity/see-through *!*/
    background-color: rgba(248, 241, 241, 0.76); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.invoice-box {
    max-width: 670px;
    margin: auto;
    padding: 5px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 10px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}
.login-box {
    max-width: 670px;
    margin: auto;
    padding: 15px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    /*line-height: 10px;*/
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #555;

}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;

    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }


    /** RTL **/
    .invoice-box.rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .invoice-box.rtl table {
        text-align: right;
    }

    .invoice-box.rtl table tr td:nth-child(2) {
        text-align: left;
    }

    .page {
        width: 210mm;
        min-height: 297mm;
        padding: 20mm;
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    @page {
        size: A4;
        margin: 0;
    }

    @media print {
        html, body {
            width: 210mm;
            height: 297mm;
        }

        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }


}