</body>
</html>
<th:block th:if="${session.isEmpty()}">
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">

        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:300px">
            <tbody>
            <tr>
                <td><p1>Default:</p1><br><p></p>
                    <p1>Admin Role:</p1><br>
                    <p1>username : owner</p1><br>
                    <p1>password : owner</p1><br><p></p>
                    <p1>User Role:</p1><br>
                    <p1>username : employee </p1><br>
                    <p1>password : employee</p1><br></td>
                <td><div>
                    <a href="/view/login">
                        <span>LOGIN</span></a>
                    <p></p>
                    </div>
                    <div>
                        <a href="/view/register">
                            <span>REGISTER</span></a>
                    </div></td>
            </tr>
            </tbody>
        </table>

    </th:block>
</th:block>