</body>
</html>
<th:block th:if="${session.isEmpty()}">
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">

        <div class="login-box">
            <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:380px">
                <tbody>

                <td align="center">
                    <p1 class="welcome"> Welcome !</p1>
                    <br>
                    <p1 class="welcome"> With this software you can easily manage a Dog Hotel.</p1>
                    <br>
                    <p1 class="welcome">Admin Role - has access to users, can change prices, can change company
                        information.
                    </p1>
                    <br>
                    <p1 class="welcome">Аll other options are available for User Role.</p1>
                    <br>
                    <p1 class="welcome">To test the software please login or register in with the data provided below.
                    </p1>
                    <br>
                    <p1 class="welcome">The registered users are with User Role.</p1>
                    <br>
                    <p1 class="welcome">Nice day :)</p1>
                </td>

                </tbody>
            </table>
            <br>
            <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:300px">
                <tbody>

                <td>
                    <p1>Admin Role:</p1>
                    <br>
                    <p1>username : owner</p1>
                    <br>
                    <p1>password : owner</p1>
                    <br>
                    <p></p>
                    <p1>User Role:</p1>
                    <br>
                    <p1>username : employee</p1>
                    <br>
                    <p1>password : employee</p1>
                    <br></td>
                <td>
                    <div>
                        <a href="/view/login">
                            <span>LOGIN</span></a>
                        <p></p>
                    </div>
                    <div>
                        <a href="/view/register">
                            <span>REGISTER</span></a>
                    </div>
                </td>

                </tbody>
            </table>
            <br>
            <br>
        </div>
    </th:block>
</th:block>