<th:block th:unless="${session.isEmpty()}">
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">

        <div class="welcome" >
             <br>
            <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
                <tbody>
                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:200px">
                            <tbody><h5>Empty House</h5>

                            <tr>
                                <td th:each="c : ${cellsEmpty}">

                                    <label style="width:30px"><p th:text="${c.code}"></p></label></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td style="width:200px"><h5>Total invoiced: </h5>

                        <label ><p th:text="${totalInvoicedPrice+'$'}"></label></td>
                    <td style="width:200px"><h5>Total spend: </h5>

                        <label ><p th:text="${totalAmountCost+'$'}"></label></td>
                    <td style="width:200px"><h5>Balance: </h5>

                        <label ><p  th:text="${company.balance +'$'}"></label></td>
                </tr>
                </tbody>
            </table>
            <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:300px">
                <tbody><h5>Active Dog and House</h5>
                <tr>
                    <td th:each="r : ${activeReservations}" >

                        <label style="width:50px"><p th:text="${r.dog.name +' '+ r.cell.code }"></p></label></td>
                </tr>
                </tbody>
            </table>


            <br>
            <table style="width:auto" class=table >
                <tr><h5>Current Active Reservations</h5>
                    <th>No</th>
                    <th>Client:</th>
                    <th>Dog:</th>
                    <th>Stay Days:</th>
                    <th>Day of coming:</th>
                    <th>Day of departure:</th>
                    <th>Dog House:</th>
                    <th>Total Price</th>
                </tr>
                <tr th:each="r : ${activeReservations}">
                    <td class="h6"><a th:text="${r.id}"></td>
                    <td th:text="${ r.client.firstName +' '+ r.client.lastName +' '+ r.client.email +' '+r.client.phone}"></td>
                    <td><a th:target="_blank"
                           th:text="${r.dog.name + ' Weight:' +r.dog.weight + ' '+r.dog.breed.breedName}">
                    </td>
                    <td th:text="${r.countOvernightStay}"></td>
                    <td th:text="${#temporals.format(r.startDate,'dd.MM.yyyy')}"></td>
                    <td th:text="${#temporals.format(r.endDate,'dd.MM.yyyy')}"></td>
                    <td th:text="${r.cell.code}"></td>
                    <td class="boldPrice" th:text="${r.totalPrice +'$'}"></td>
                </tr>
            </table>
            <table style="width:auto" class=table>
                <tr><h5>Upcoming Reservations</h5>
                    <th>No</th>
                    <th>Client:</th>
                    <th>Dog:</th>
                    <th>Stay Days:</th>
                    <th>Day of coming:</th>
                    <th>Day of departure:</th>
                    <th>Dog House:</th>
                    <th>Total Price</th>
                </tr>
                <tr th:each="r : ${upcomingReservations}">
                    <td class="h6"><a th:text="${r.id}"></td>
                    <td th:text="${ r.client.firstName +' '+ r.client.lastName +' '+ r.client.email +' '+r.client.phone}"></td>
                    <td><a th:target="_blank"
                           th:text="${r.dog.name + ' Weight:' +r.dog.weight + ' '+r.dog.breed.breedName}">
                    </td>
                    <td th:text="${r.countOvernightStay}"></td>
                    <td th:text="${#temporals.format(r.startDate,'dd.MM.yyyy')}"></td>
                    <td th:text="${#temporals.format(r.endDate,'dd.MM.yyyy')}"></td>
                    <td th:text="${r.cell.code}"></td>
                    <td class="boldPrice" th:text="${r.totalPrice +'$'}"></td>
                </tr>
            </table>

            <table style="width:auto" class=table>
                <tr><h5>Last two Invoices</h5>
                    <th>No</th>
                    <th>Client:</th>
                    <th>Dog:</th>
                    <th>Reservation No:</th>
                    <th>Total Price:</th>
                    <th>Author:</th>
                </tr>
                <tr th:each="i : ${invoices}">
                    <td class="h6" th:text="${i.id}"></td>
                    <td th:text="${i.clientName +' '+ i.clientEmail +' '+i.clientPhone}"></td>
                    <td th:text="${'Dog '+ i.dogName + ' '+'House:' +i.cellCode + ' '+'Day: '+i.countStay}"></td>
                    <td th:text="${i.reservationId}"></td>
                    <td class="boldPrice" th:text="${i.totalPrice +'$'}"></td>
                    <td th:text="${i.authorName}"></td>
                </tr>
            </table>

            <table style="width:auto" class=table>
                <tr><h5>Last two Costs</h5>
                    <th>No</th>
                    <th>Vendor</th>
                    <th>Description</th>
                    <th>Invoice No</th>
                    <th>Amount</th>
                    <th>Date Cost</th>
                    <th>Author</th>
                    <th>Created</th>
                </tr>
                <tr th:each="d : ${costs}">
                    <td th:text="${d.id}"></td>
                    <td th:text="${d.vendor.getName()}"></td>
                    <td th:text="${d.description}"></td>
                    <td th:text="${d.invoiceNo}"></td>
                    <td class="boldPrice" th:text="${d.amount}"></td>
                    <td th:text="${#temporals.format(d.dateCost,'dd.MM.yyyy')}"></td>
                    <td th:text="${d.author.username}"></td>
                    <td th:text="${#temporals.format(d.dateCreate,'dd.MM.yyyy')}"></td>

                </tr>
            </table>



        </div>
    </th:block>
</th:block>