<th:block th:unless="${session.isEmpty()}">
    <script>
        $(document).ready(function() {
            $('#nav-link').click(function(e){
                e.preventDefault();
                window.history.back();
            });
        });
    </script>
    <th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
            <tbody>
            <tr>
                <td>
                    <div class="button_back">
                        <a class="nav-link h5" id="nav-link">
                            <button type="button" class="btn btn-danger btn-lg btnList"><span
                                    class="glyphicon glyphicon-ok"></span>Back
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="login-box">
                        <h1 class="page_title" th:object="${myCompany}">My Company</h1>
                        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:500px">
                            <tbody>
                            <tr>
                                <td style="font-weight: bold" >Company logo:</td>
                                <td> <img src="#" height="120px" width="120px"
                                          th:src="@{${'/image/' + myCompany.logoName}}" ></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Company name:</td>
                                <td><label th:text="${myCompany.name}"></label></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Country:</td>
                                <td><label th:text="${myCompany.country}"></label></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">City:</td>
                                <td><label th:text="${myCompany.city.name}"></label></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Address:</td>
                                <td><label th:text="${myCompany.address}"></label></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Vat Number:</td>
                                <td><label th:text="${myCompany.vatNumber}"></label></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Email:</td>
                                <td><label th:text="${myCompany.email}"></label></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Bank Name:</td>
                                <td><label th:text="${myCompany.bankName}"></label></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Bank Account:</td>
                                <td><label th:text="${myCompany.bankAccount}"></label></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Bank Balance:</td>
                                <td><label th:text="${myCompany.balance+'$'}"></label></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Manager Name:</td>
                                <td><label th:text="${myCompany.managerName}"></label></td>
                            </tr>
                            </tbody>
                        </table>

                        <p>&nbsp;</p>
                        <div class="button_back">
                            <a class="nav-link h5" th:href="@{/view/edit/companyEdit}">
                                <button type="button" class="btn btn-danger btn-lg btnList"><span
                                        class="glyphicon glyphicon-ok"></span>Edit
                                </button>
                            </a>
                        </div>

                    </div>
                </td>
            </tr>

        </table>



</th:block>
