<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <script>
        $(document).ready(function() {
            $('#nav-link').click(function(e){
                e.preventDefault();
                window.history.back();
            });
        });
    </script>
    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:auto">
        <tbody>
        <tr>
            <td>
                <div class="button_back">
                    <a class="nav-link h5" id="nav-link">
                        <button type="button" class="btn btn-danger btn-lg btnList"><span
                                class="glyphicon glyphicon-ok"></span>Back
                        </button>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <h2 class="page_title">Register User</h2>
                    <form class="form_add" th:action="@{/view/register}"
                          th:method="post"
                          th:object="${userDTO}"
                    >
                        <div class="login-box">
                            <label><img align="center" src="#" height="25px" width="25px"
                                        th:src="@{${'/pics/user.png'}}">UserName:</label><br>
                            <input class="form-control" type="text" id="description" th:field="${userDTO.username}" placeholder="Please enter Username"/><br>

                            <p th:if="${existUser}" class="errors alert alert-danger">
                                User exist!
                            </p>

                            <label><img align="center" src="#" height="20px" width="20px"
                                        th:src="@{${'/pics/pass.png'}}"> Password:</label><br>
                            <input class="form-control" type="password" id="description1" th:field="${userDTO.password}" placeholder="Please enter Password"/><br>

                            <label><img align="center" src="#" height="20px" width="20px"
                                        th:src="@{${'/pics/pass.png'}}"> Confirm Password:</label><br>
                            <input class="form-control" type="password" id="description2" th:field="${userDTO.confirmPassword}" placeholder="Confirm Password"/><br>

                            <p th:if="${wrongRepeatPasswords}" class="errors alert alert-danger">
                                Passwords don't match!.
                            </p>

                            <label>Default Role:</label>
                            <div class="form-group">
                                <select th:field="${userDTO.role}" >
                                    <option value="USER">USER</option>
                                </select>
                            </div>
                            <p th:if="${empty}" class="errors alert alert-danger">
                                Invalid data!
                            </p>
                        </div>
                        <br>
                        <div class="button_submit">
                            <div>
                                <div>
                                    <input type="submit" class="btn btn-danger btn-lg btnList" value="Register"/>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </td>
        </tr>

    </table>


</th:block>